@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  font-family: "Bahnschrift", "Roboto Condensed";
  background: url(Fondo.png);
  background-attachment: fixed;
  background-size: cover;
  margin: 15px;
}
body h1 {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #f1f7fe;
  display: flex;
  margin-bottom: 2rem;
  align-self: center;
}
body h2 {
  color: #cfcfcf;
  margin: 0;
  margin-bottom: 0.5rem;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c7f3f1;
}
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}
body ::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c7f3f1;
}

.analizadores {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}
.analizadores .AnalizadorDerecha {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.analizadores .AnalizadorDerecha #listboxTokens {
  padding-left: 2.5rem;
}
.analizadores .AnalizadorIzquierda {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.analizadores .AnalizadorIzquierda #input {
  padding-left: 2.5rem; /* Espacio para los números de línea */
}

.Contenedor {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: #011522;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 0.5rem;
  text-align: center;
  height: auto;
}
.Contenedor .tools {
  display: flex;
  align-items: center;
  padding: 9px;
  padding-top: 0px;
}
.Contenedor .circle {
  padding: 0 4px;
}
.Contenedor .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}
.Contenedor .red {
  background-color: #ff605c;
}
.Contenedor .yellow {
  background-color: #ffbd44;
}
.Contenedor .green {
  background-color: #00ca4e;
}

.interdiv {
  position: relative;
  display: flex;
  flex-direction: row;
}

textarea {
  font-family: "Bahnschrift", "Roboto Condensed";
  font-size: 1rem;
  width: 100%;
  min-height: 30vh;
  height: auto;
  resize: none;
}
textarea.numeros {
  display: flex;
  text-align: end;
  width: 5%;
}

#numerosLinea {
  background: #aeb4b9;
  font-family: "Bahnschrift", "Roboto Condensed";
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 98.5%;
  width: 2rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.2rem;
  pointer-events: none; /* Evitar interacción del usuario */
  text-align: center;
  border-right: 1px solid #424242; /* Línea divisoria */
  padding-top: 0.2rem;
}/*# sourceMappingURL=OP.css.map */